/* General styling */
body {
  background-image: url(../img/backgroundNight.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d); */
  color: white;
  font-family: Arial, sans-serif;
  -webkit-backdrop-filter: blur(5px) contrast(1.2);
  backdrop-filter: blur(5px) contrast(1.2);
}

/* Weather card styling */
.weather-card {
  /* background-color: #c5c9db; */
  background-color: rgba(237, 237, 243, 0.277);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  height: 350px;
}

#relay-box {
  margin-top: 20px;
}

.search-box {
  margin-top: 10px;
}

h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
}

#temperature-box {
  margin-top: 20px;
}

#quaNhiet {
  margin-top: 10px;
  display: none;
  color: red;
  font-weight: bold;
}

.extra-info p {
  margin: 10px 0;
}

#turbidity-box {
  margin-top: 20px;
}

#highTurbidity {
  margin-top: 10px;
  display: none;
  color: orange;
  font-weight: bold;
  margin-bottom: 20px;
}
